# Construction and output folder
/build

# Exclude all img folder
/img

# but .tikz, .png, .jpg and .dat files
!/img/*.tikz
!/img/*.png
!/img/*.jpg
!/img/*.dat

# My local final versions
These_*.pdf

